.svg {
    width: 100%;
}

.valuePath {
    fill: $primary-color-1;
}

.valuePathWarning {
    fill: $warning-color;
}

.valuePathError {
    fill: $error-color;
}

.levelMarker {
     fill: none;
     stroke: rgba(40, 40, 40, 0.35)
}

.levelText {
    font-size: .85em;
}

.valueText {
    font-size: 1.35em;
}

.unitText {
    fill: $secondary-color;
    font-size: 1em;
    text-transform: uppercase;
}